.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  font-family: "Roboto Thin", sans-serif;
  margin-bottom: 50px;
}
.input-section{
  height: 100px;
}
.label{
  font-size: 20px;
}
.input{
  height: 40px;
  width: 300px;
  border: 1px solid #7F7F7F;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 18px;
}
.error{
  color: red;
}