
body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../../public/imgs/background.jpg") fixed;
  background-size: cover;
}

.header-hero {
  background: url("../../../public/imgs/Flower Macro.jpg");
  background-size: cover;
  padding: 3px 20px 30px;
  color: white;
  text-align: center;
  width: 100%;
}

.header-title {
  font-size: 50px;
  text-transform: uppercase;
}

.header-name {
  font-size: 200px;
  line-height: 150px;
  font-family: 'Lilita One', sans-serif;
  font-weight: 200;
}

.hero-btn {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 15px;
  //margin-top: 1px;
  border: 3px solid white;
  border-radius: 5px;
  background: transparent;
  box-shadow: white 2px 2px 5px;

  &:hover {
    cursor: pointer;
    box-shadow: white 4px 4px 5px;
  }

  &:active {
    background: pink;
  }
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
  border-top: #bd398f 2px solid;
}

.shop-card {
  border: 1px solid #bd398f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.shop-card-content {
  font-family: "Roboto Thin", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.5);
}

.shop-card-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.5);
}

.shop-card-name {
  font-size: 28px;
  font-family: "Roboto Thin", sans-serif;

}

.shop-card-name-active {
  color: #bd398f;
}

.shop-card-color {
  font-size: 20px;
  color: #3C4242;
}

.shop-card-article {
  width: fit-content;
  font-size: 24px;
  border: 1px solid #3C4242;
  padding: 5px;
}

.shop-card-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.shop-card-price {
  font-size: 48px;
  color: #bd398f;
  margin-right: 15px;
  font-weight: 400;
}

.buy-btn,
.buy-btn-active {
  font-size: 20px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: plum 2px 2px 5px;

  &:hover {
    box-shadow: plum 4px 4px 5px;
    cursor: pointer;
  }

  &:active {
    background: plum;
  }
}

.buy-btn {
  background: pink;
}

.buy-btn-active {
  background: plum;
}

.favheart {
  fill: pink;
}

.inc-dec-btn {
  border: 1px solid #3C4242;
  border-radius: 2px;
  font-size: 20px;
  width: 30px;
  height: 30px;
}

.inc-dec-container {
  display: flex;
  align-items: center;
}

.inc-dec-container p {
  font-size: 20px;
  margin: 8px;
}

.total {
  color: #bd398f;
  font-size: 48px;
  font-weight: 700;
  border: 1px solid #3C4242;
  border-radius: 5px;
}

.basket-info {
  text-align: center;
}


