.cart {
  margin-bottom: -5px;
  margin-left: 30px;
}
.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  width: 200px;
}
.header-top-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 50px;
  list-style: none;
  max-width: fit-content;
  justify-content: center;
}
.header-top-item {
  font-family: "Malgun Gothic", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  color: #3C4242;

  &:hover {
    color: #bd398f;
    cursor: pointer;
  }
}
.header-top-action{
  display: flex;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.modal {
  width: 460px;
  height: fit-content;
  border: 1px solid #3C4242;
  border-radius: 10px;
  box-shadow: #3C4242 2px 2px 5px;
  background: white;
}
.modal-header {
  display: flex;
  justify-content: end;
  padding: 15px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.modal-img {
  width: 200px;
  height: 200px;
}
.modal-title {
  font-family: Inter, sans-serif;
  font-size: 28px;
  color: #191919;
}

.modal-txt {
  font-family: "Roboto Thin", sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #7F7F7F;
}
.modal-footer {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding-bottom: 40px;
}
.modal-btn,
.modal-btn-active{
  width: 190px;
  height: 50px;
  font-family: "Roboto Thin", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #bd398f;
  border-radius: 8px;
}

.modal-btn {
  background: white;
  color: #bd398f;
}

.modal-btn-active {
  background: #bd398f;
  color: white;
}
.basket-question{
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 28px;
  color: #191919;
}
.red{
  background: #bd398f;
}